{% block submission_summary %}
    <ul>
        {%- for fieldname, values in data|filter((values, fieldname) => attribute(config.fields, fieldname) is defined) %}
            {%- set field = attribute(config.fields, fieldname) %}
            {%- set label = field.options.label|default(fieldname) %}

            {% if not (field.type == 'file' and field.attach|default) %}
                {%- if values is iterable %}
                    <li>
                        {{ block('field_label') }}
                        {{ block('value_array') }}
                    </li>
                {%- else %}
                    {%- set value = values %}
                    {% apply spaceless %}
                        <li>
                            {{ block('field_label') }}
                            {% if field.type in ['date', 'datetime', 'dateinterval'] %}
                                {{ block('field_date') }}
                            {% else %}
                                {{ block('field_value') }}
                            {% endif %}
                        </li>
                    {% endapply %}
                {%- endif %}
            {% endif %}
        {%- endfor %}
    </ul>
    <ul>
        {%- for label, value in meta %}
            <li>{{ block('field_label') }}{{ block('field_value') }}</li>
        {%- endfor %}
    </ul>

{% endblock %}

{% block field_label %}
    {%- if label is not empty %}{{ label|striptags }}: {% endif %}
{% endblock %}

{% block field_value %}
    {{- value }}
{% endblock %}

{% block field_date %}
    {{- value|localdate() }}
{% endblock %}

{% block file_field_value %}
    {%  if value == '' %}
        {{ name }}
    {% else %}
        <a href="{{ value }}">{{ name }}</a>
    {% endif %}
{% endblock %}

{% block value_array %}
    <ul>
        {%- for name, value in values %}
            {%- if value is iterable %}
                {{ block('value_array') }}
            {%- else %}

                <li>
                    {%- if field.type == 'file' %}
                        {{ block('file_field_value') }}
                    {%- else %}
                        {{ block('field_value') }}
                    {%- endif %}
                </li>

            {%- endif %}
        {%- endfor %}

    </ul>
{% endblock %}
