{% block submission_summary %}
    <table class="boltforms">
        {%- for fieldname, value in data|filter((value, fieldname) => attribute(config.fields, fieldname) is defined) %}
            {%- set definition = attribute(config.fields, fieldname) %}
            {%- set label = definition.options.label|default(fieldname)|replace({'_':' '})|capitalize %}

            {{ block('print_field') }}
        {%- endfor %}

        {%- for label, value in meta %}
            {% set label = label|capitalize %}
            {{ block('print_field') }}
        {%- endfor %}
    </table>

    <style>
        table.boltforms td{
            padding: 3px 15px;
            max-width: 40ch;
        }
    </style>
{% endblock %}

{# Print the label and value for a field. #}
{% block print_field %}
    <tr>
        <td>
            {{ block('print_label') }}
        </td>
        <td>
            {{ block('print_value') }}
        </td>
    </tr>
{% endblock %}

{#  Print the label of a field.
    One of three blocks is used, in order of priority:
    1. A block based on the field label, e.g. label_first_name
    2. A block based on the field type, e.g. label_text
    3. Otherwise, use the label_generic block.
#}
{% block print_label %}
    {% if block('label_'~label) is defined %}
        {{ block('label_'~label) }}
    {% elseif block('label_'~definition.type|default) is defined %}
        {{ block('label_'~definition.type) }}
    {% else %}
        {{ block('label_generic') }}
    {% endif %}
{% endblock %}

{# Use {{ label }} variable. #}
{% block label_generic %}
    {{ label }}
{% endblock %}

{# Don't show any file field labels.#}
{% block label_file %}
{% endblock %}

{#  Print the value of a field. #}
{#  Available variables: value, definition, label. #}
{#  One of three blocks is used, in order of priority#}
{#  1. A block based on the field label, e.g. value_first_name#}
{#  2. A block based on the field type, e.g. value_text#}
{#  3. Otherwise, use the value_generic block.#}
{% block print_value %}
    {% if block('value_'~label) is defined %}
        {{ block('value_'~label) }}
    {% elseif block('value_'~definition.type|default) is defined %}
        {{ block('value_'~definition.type) }}
    {% else %}
        {{ block('value_generic') }}
    {% endif %}
{% endblock %}

{# Use the {{ value }} variable. #}
{% block value_generic %}
    {% if value is iterable %}
        <ul>
            {% for v in value %}
                <li>{{ v }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}

{% block value_date %}
    {{ value|localdate }}
{% endblock %}

{% block value_datetime %}
    {{ value|localdate }}
{% endblock %}

{% block value_dateinterval %}
    {{ value|localdate }}
{% endblock %}

{# Don't show any file fields. #}
{% block value_file %}
{% endblock %}
