{# this tag only applies to the forms defined in this template #}
{% set layout = [boltforms_config.layout.form|default('form_div_layout.html.twig'), '@boltforms/captcha.html.twig'] %}
{% form_theme form with layout %}

{% if boltforms_config.layout.bootstrap|default() %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endif %}

{% if boltforms_config.hcaptcha.enabled|default() %}
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %}

{% if boltforms_config.recaptcha.enabled|default() %}
    {% set formSplit = form.vars.name|split("_") %}
    {% if formSplit|length > 1 %}
        {% for item in formSplit %}
            {% set item = item|capitalize %}
        {% endfor %}
        {% set formNameJs = formSplit|join %}
    {% else %}
        {% set formNameJs = form.vars.name|capitalize %}
    {% endif %}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onRecaptchaSubmitted{{formNameJs}}(token) {
            var elementsWithName = document.getElementsByName('{{ form.vars.name }}');
            for (var i = 0; i < elementsWithName.length; i++) {
                if (elementsWithName[i].tagName.toLowerCase() == 'form') {
                    elementsWithName[i].submit();
                }
            }
        }
    </script>
{% endif %}

<style>
    {% include '@boltforms/assets/boltforms.css' %}
</style>

{% if debug.enabled %}
    <div class="boltforms-feedback debug">Debug is enabled. Check the Dump panel in the Symfony Toolbar for details.</div>
{% endif %}

{% if valid %}
    <div class="boltforms-feedback success">{{ formconfig.feedback.success|raw }}</div>
{% endif %}

{% if submitted and not valid %}
    <div class="boltforms-feedback error">{{ formconfig.feedback.error|raw }}</div>
{% endif %}

{% if not valid %}
    {% include '@boltforms/honeypotstyle.html.twig' with {'honeypot_name': honeypot_name} %}
    {{ form(form, {'attr': { 'id': form.vars.id|default }}) }}
{% endif %}
